{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h2 class='text-align-center'><strong>Log in</strong></h2>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Iniciar sesion' %}" />
  <input type="hidden" name="next" value="{{ next }}" />

</form>
</div>
</div>
</hr>

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
	<br/>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset" %}</a>.</p>
<p>{% trans "No account" %}? <a href="{% url 'registration_register' %}">{% trans "Sign up here" %}</a>.</p>
</div>
</div>
{% endblock %}