{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
<div class='col-sm-6 col-sm-offset-3'>
	<h2 class='text-align-center'><strong>Change password</strong></h2><br/>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Confirmar' %}" />
</form>
</div>
{% endblock %}