{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}

{% if validlink %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
</form>
</div> 

{% else %}

<p class='lead'>{% trans "Password has not been changed." %}</p>

{% endif %}

{% endblock %}