{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block tab_title %}{{block.super}}{{tab_title}}{% endblock %}

{% block jumbotron_content %}
<h1 align="center"><FONT FACE="impact" SIZE=40>{{title}}</FONT></h1>
</br>


<div class="container">
	<div class='row'>
		<div class='col-md-6 offset-md-3'>
			<form method="POST" class="post-form" action="">
				{% csrf_token %}
				{{contact_form|crispy}}
				</br>
				<input class='btn btn-primary' type='submit' value='SEND MESSAGE'/>
			</form>
		</div>
	</div>
</div>
{% endblock %}