{% extends "base.html" %}

{% block tab_title %}{{block.super}}{{tab_title}}{% endblock %}

{% block jumbotron_content %}
<META http-equiv="refresh" content="5; URL={% url 'solution' %}"> 
<h1 align="center"><FONT FACE="impact" SIZE=40>{{title}}</FONT></h1>
</br>


<div class="container">

	<div class='row'>
		PANTALLA DE CARGA (METER LOGO GIRANDO)

	</div>


</div>
{% endblock %}
		
		
	