
{% load static %}
{% load crispy_forms_tags %}
{% include "head_js.html" %}  
{% include "head_css.html" %}  

<nav class="navbar-default navbar-expand-md navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" >
       <span class="navbar-toggler-icon"></span>       
  </button>

  <a class="navbar-brand mt-4" href="{% url 'index' %}">DOFIN</a>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"> Report </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"> TopScam </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'faq' %}">  FAQ  </a>
      </li>      
      <li class="nav-item" >
        <a class="nav-link" href="{% url 'about' %}"> About </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="{% url 'contact' %}"> Contact </a>
      </li>

      
      {% if user.is_authenticated %}
        <li class="nav-item" >
          Logged user: {{ user.get_username }}
          <a class="nav-link" href="{% url 'auth_logout'%}?next={{request.path}}">Logout</a>
        </li>
      {% else %}   
        {% if request.path == '/inspector/' %} 
          <li class="nav-item">
            <form class="form-inline nav-myform" method="POST" action="#">
              {% csrf_token %}
              <div class="form-group mr-1">
                <input type="text" class="form-control" name="username" placeholder="Username or email">
              </div>
              <div class="form-group mr-1">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>            
              <button type='submit' class="btn btn-secondary">Login</button>
            </form> 
          </li>
        {% else %}
          <li class="nav-item" >
            <a class="nav-link" href={% url 'auth_login'%}?next={{request.path}}>Login</a>
          </li>
        {% endif %} 
        <li class="nav-item" >
            <a class="nav-link ml-1" href="{% url 'registration_register' %}"> Register </a>
          </li>
      {% endif %} 

    </ul>

  </div>

</nav>